<header id="mainHeader" class="top-header fade-in-load">
    <div class="header-left">
        <img src="../assets/img/icono-menu.png" alt="Menú" class="menu-icon" id="menuIcon" onclick="toggleMenu()">
        <span class="team-name">EQUIPO 5</span>
    </div>
    <div class="header-right">
        <a href="https://laninaamarilla.com/" target="_blank">
            <img src="../assets/img/logo.png" alt="Logo" class="logo-img">
        </a>
    </div>
    <nav id="dropdownMenu" class="dropdown-menu">
        <ul>
            <li><a href="/login" class="menu-link">Iniciar Sesión</a></li>
            <li><a href="/register" class="menu-link">Registrarse</a></li>
            <li><a href="https://laninaamarilla.com" target="_blank" class="menu-link">Recursos de Ayuda</a></li>
            <li><a href="#contacto" class="menu-link">Contacto</a></li>
        </ul>
    </nav>
</header>