<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>La Niña Amarilla | Hay un mensaje para ti</title>

<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@400;700&display=swap"
    rel="stylesheet">

<link rel="stylesheet" href="../css/scroll.css">
<link rel="stylesheet" href="../css/hero.css">
<link rel="stylesheet" href="../css/info.css">
<link rel="stylesheet" href="../css/resources.css">
<link rel="stylesheet" href="../css/oasis.css">
<link rel="stylesheet" href="../css/top.css">
<link rel="stylesheet" href="../css/podcast.css">
<link rel="stylesheet" href="../css/ayuda.css">
<link rel="stylesheet" href="../css/buzon-section.css">
<link rel="stylesheet" href="../css/footer.css">