<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Niña Amarilla | Hay un mensaje para ti</title>

    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../css/scroll.css">
    <link rel="stylesheet" href="../css/hero.css">
    <link rel="stylesheet" href="../css/info.css">
    <link rel="stylesheet" href="../css/resources.css">
</head>

<body>

    <%- include('partials/header') %>

        <main class="scroll-container">
            <%- include('main_view_sections/hero-section') %>

                <%- include('main_view_sections/info-section') %>

                    <%- include('main_view_sections/resources-section') %>
        </main>

        <script src="../js/main.js"></script>
</body>

</html>