<section class="buzon-section" id="buzon">

    <div class="buzon-header">
        <h2 class="buzon-title">Te ha llegado una notificación</h2>
    </div>

    <div class="buzon-content-wrapper">
        <img src="../assets/img/buzon-pixel-art.png" alt="Buzón" class="buzon-img">

        <div class="buzon-info-box">
            <p class="buzon-description">
                Este es tu espacio seguro para dejar mensajes, guardar borradores o leer aquellos que has destacado.
                El buzón es el corazón de nuestra comunidad, donde las palabras cobran vida.
            </p>
            <a href="/buzon" class="buzon-btn">Ir a mi buzón</a>
        </div>
    </div>

</section>