<section class="social-section">
    <!-- Background Motifs -->
    <img src="../assets/img/fondo-deco-1.png" alt="" class="bg-deco deco-top-right">
    <img src="../assets/img/fondo-deco-2.png" alt="" class="bg-deco deco-bottom-left">

    <div class="social-container">

        <h2 class="section-title">Punto de contacto</h2>

        <div class="social-content">

            <!-- 1. Location -->
            <div class="social-group">
                <div class="yellow-label">
                    <img src="../assets/img/icon-location.png" alt="Ubicación" class="label-icon">
                </div>
                <div class="location-wrapper">
                    <p class="location-text">
                        C/ del Doctor Zamenhof, 12. CP<br>
                        46008. València.
                    </p>
                </div>
            </div>

            <!-- 2. Email -->
            <div class="social-group">
                <div class="yellow-label">EMAIL</div>
                <div class="social-icons">
                    <a href="mailto:hola@laninaamarilla.com" class="text-link">
                        <p>hola@laninaamarilla.com</p>
                    </a>
                </div>
            </div>

            <!-- 3. Social -->
            <div class="social-group">
                <div class="yellow-label">SOCIAL</div>
                <div class="social-icons">
                    <a href="https://instagram.com" target="_blank" class="icon-link">
                        <img src="../assets/img/icon-instagram.png" alt="Instagram">
                    </a>
                    <a href="https://youtube.com" target="_blank" class="icon-link">
                        <img src="../assets/img/icon-youtube.png" alt="YouTube">
                    </a>
                </div>
            </div>

        </div>

        <div class="social-copyright">
            <p>2025 Oasis Virtual.</p>
        </div>
    </div>
</section>