<section class="snap-section info-section" data-header-theme="dark">
    <div class="info-container">
        <div class="text-block info-text">
            <div class="breadcrumbs">INICIO: NUESTRO PROPÓSITO</div>
            <h2 class="info-title">¿Qué mensaje?</h2>

            <p>Para quienes atraviesan momentos de ideación suicida, la sensación más difícil no siempre
                es
                el
                dolor en sí, sino sentir que nadie está ahí. A menudo, vivimos esperando una
                notificación
                que a
                veces nunca llega. Ante ese vacío, queremos responder a este suceso con un gesto
                directo,
                humano
                y sencillo: "Hay un mensaje para ti".</p>

            <p>No se busca solo concienciar sobre la problemática, sino activar una red de apoyo visible
                y
                conectada, donde cada notificación, cada palabra compartida y cada gesto demuestre que
                siempre
                hay alguien al otro lado. Porque, incluso cuando el silencio pesa, siempre puede llegar
                un
                mensaje.</p>
        </div>

        <div class="mailbox-wrapper">
            <img src="../assets/img/buzon.jpg" alt="Buzón pixel art" class="mailbox-img">
        </div>
    </div>
</section>