<section class="snap-section oasis-section" data-header-theme="dark">
    <div class="oasis-container">

        <h2 class="oasis-title">Bienvenid@ a tu oasis virtual</h2>

        <div class="oasis-content-wrapper">
            <div class="oasis-media">
                <video autoplay muted loop playsinline class="oasis-video">
                    <source
                        src="https://hay-un-mensaje-para-ti.my.canva.site/_assets/video/04062f2407e39488231bc4cca970954d.mp4"
                        type="video/mp4">
                    Tu navegador no soporta videos HTML5.
                </video>
            </div>

            <div class="oasis-text">
                <p>
                    A través del registro diario podrás crear y hacer crecer tu propio jardín virtual.
                    Cada día recibirás mensajes de otros jugadores que contribuirán al crecimiento de tu semillero.
                    También puedes enviar mensajes a otros usuarios para ayudarles a ampliar sus jardines y, sobre todo,
                    alegrarles el día.
                </p>

                <a href="buzon.html" class="oasis-btn">
                    ESCRIBE UN MENSAJE Y<br>HAZ FLORECER TU JARDÍN.
                </a>

                <div class="oasis-decoration">
                    <img src="../assets/img/flores-detalle.png" alt="Flores decorativas">
                </div>
            </div>
        </div>
    </div>
</section>