<section class="podcast-section" id="podcast">

    <img src="../assets/img/fondo-deco-1.png" alt="" class="bg-deco deco-top-right">
    <img src="../assets/img/fondo-deco-2.png" alt="" class="bg-deco deco-bottom-left">

    <div class="podcast-container">
        <div class="podcast-content-wrapper">

            <div class="podcast-left-col">

                <div class="video-container-relative">
                    <video autoplay muted loop playsinline class="podcast-video">
                        <source
                            src="https://hay-un-mensaje-para-ti.my.canva.site/_assets/video/c330daeb7e22a10252b2d363245b7b5b.mp4"
                            type="video/mp4">
                        Tu navegador no soporta videos HTML5.
                    </video>
                    <img src="../assets/img/microfono-podcast.png" alt="Micrófono" class="mic-overlay">
                </div>

                <div class="spotify-block">
                    <p class="spotify-text">
                        Ya puedes escuchar nuestra playlist, y muy pronto el podcast en Spotify.
                    </p>
                    <div class="qr-wrapper">
                        <img src="../assets/img/qr-podcast.png" alt="Código QR Spotify" class="qr-code-img">
                    </div>
                </div>

            </div>

            <div class="podcast-right-col">
                <h2 class="podcast-title">Charlando con<br>La Niña Amarilla</h2>

                <p class="podcast-desc">
                    Próximamente, estará disponible el podcast “Cosas que no nos decimos”.
                    Un espacio donde hablaremos sobre el suicidio a través de testimonios reales y conversaciones
                    sinceras y sanadoras con sus locutores.
                </p>

                <p class="podcast-desc">
                    Un lugar para escuchar, reflexionar y acompañarnos en temas que muchas veces no se dicen en voz
                    alta.
                </p>
            </div>

        </div>
    </div>
</section>