<section class="snap-section resources-section" data-header-theme="light">

    <div class="resources-header fade-in-load">
        <h2>Encuentra apoyo, recursos y esperanza en nuestra comunidad</h2>
        <h3>No estás sol@</h3>
    </div>

    <div class="cards-container fade-in-load">

        <a href="#buzon" class="resource-card-link">
            <div class="resource-card">
                <h4 class="card-title">BUZÓN</h4>
                <img src="../assets/img/card-buzon.png" alt="Personaje buzón" class="card-img">
                <p class="card-desc">Aquí recibirás los mensajes que te envíen</p>
            </div>
        </a>

        <a href="#oasis" class="resource-card-link">
            <div class="resource-card">
                <h4 class="card-title">JARDÍN</h4>
                <img src="../assets/img/card-jardin.png" alt="Maceta tulipán" class="card-img">
                <p class="card-desc">Cuantas más mensajes envíes más rápido crecerá tu jardín</p>
            </div>
        </a>

        <a href="#podcast" class="resource-card-link">
            <div class="resource-card">
                <h4 class="card-title">PODCAST</h4>
                <img src="../assets/img/card-podcast.png" alt="Micrófono pixel" class="card-img">
                <p class="card-desc">Un espacio para hablar del suicidio junto a La Niña Amarilla</p>
            </div>
        </a>

        <a href="#ayuda" class="resource-card-link">
            <div class="resource-card">
                <h4 class="card-title">INFORMACIÓN</h4>
                <img src="../assets/img/card-info.png" alt="Teléfono pixel" class="card-img">
                <p class="card-desc">Datos de contacto por si necesitas ayuda profesional</p>
            </div>
        </a>

    </div>
</section>