<section class="top-section">
    <div class="top-container">

        <div class="top-content-wrapper">
            <div class="top-text">
                <h2 class="top-title">Top de jardines</h2>

                <p>
                    En esta sección podrás descubrir los 10 jardines más destacados de la comunidad.
                    Cada mes haremos una mención especial al mejor jardín.
                </p>

                <p>
                    Si deseas participar en el ranking tan solo debes publicarlo en tu perfil
                    y mencionarnos a través de nuestra cuenta oficial de Instagram.
                </p>

                <div class="top-qr-block">
                    <img src="../assets/img/qr-instagram-amarillo.png" alt="Código QR" class="qr-img">
                    <span class="qr-text">Escanea y súmate a nuestra<br>comunidad en Instagram.</span>
                </div>
            </div>

            <div class="top-media">
                <video autoplay muted loop playsinline class="top-video">
                    <source
                        src="https://hay-un-mensaje-para-ti.my.canva.site/_assets/video/89ba568e246381e998fd7ebf53e4d16a.mp4"
                        type="video/mp4">
                    Tu navegador no soporta videos HTML5.
                </video>
            </div>
        </div>
    </div>

    <div class="top-decoration">
        <img src="assets/arbusto-pixel.png" alt="Decoración pixel art">
    </div>
</section>